<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/styles/partials.css">
  <link rel="stylesheet" href="/styles/body.css">

<title>{{title}} {{year}}</title>

<style>
  #review-list {
    width: 1000px;
    margin-left: 26px;
    display: none;
    box-shadow: 1px 1px 6px;
    padding: 10px;
    background-color: white;
    color: gray;
  }
  .review-box{
    box-shadow: 1px 1px 6px;
    padding: 10px;
    background-color: white;
    color: gray;
  }
  .bold-author{
    font-weight: bold;
  }
</style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-green">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">movielist</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <form class="d-flex search-box-container">
          <input class="form-control search-box" type="search" placeholder="Search" aria-label="Search">
          <button class="btn-outline-success search-btn" type="submit"></button>
        </form>
        <div class="dropdown">
          <button class="dropbtn">{{username}}</button>
          <div class="dropdown-content">
            <a href="profile">Profile</a>
            {{#if Admin}}
              <a href="/addfilm">Add a Film</a>
            {{/if}}
            <a href="#">Reviews</a>
            <a href="#">Ratings</a>
            <a class="logout-btn" href="/logout">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="films">
    <div class="card mb-3" style="max-width: 840px;">
      <div class="row g-0">
        <div class="col-md-3">
          <img class="img-display" src="{{film.Picture}}">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class = " content-box">
            <h3 class="card-title" style = "color: black;">{{film.Title}}</h3>
              <div class =  "film-year" style = "border-bottom-style: solid;border-bottom-color: green;border-bottom-width: 2px;box-shadow: 0 8px 6px -6px #999;">
                <h5 class="card-year">{{film.Year}}</h5>
              </div>
            <div class = "film-rating" style = "margin-top:5px;">
              Rating:
              <span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star unchecked"></span>
              </span>
              <span class="numerical-rating">{{film.Rating}}</span>
            </div>
            </div>
          <div class = "content-box" style= "width: 600px;">
            <div id="film-desc-header" style="color:black; font-size: 17px; border-bottom-style: solid;border-bottom-color: green;border-bottom-width: 2px;box-shadow: 0 8px 6px -6px #999;">
              Description:
            </div>
            <p class="card-text" style = "margin-top:5px">{{film.Description}}</p>
          </div>
          </div>
        <div class = "button-box" style = "margin-left:26px;margin-right:195px;margin-bottom:10px;box-shadow: 1px 1px 6px;	padding: 10px;background-color: white;color: gray;">
          <a href="/film/{{film._id}}/add-review"><button class="btn-create-review">Create a Review</button></a>
          <button class = "btn-view-review" onclick="myFunction()"> View Reviews</button>
        </div>
          <div id="review-list">
            <div id="review-list-header" style="color:black">
              Reviews:
            </div>
            <div class="row row-no-gutters">
              {{#each film}}
                {{#each Review}}
                  <div class ="col-sm-6 review-box">
                    <span class="bold-author">{{Author}}:</span>
                    <span>{{Body}}</span>
                  </div>
                {{/each}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <footer class="pt-5 pb-3 bg-custom-primary footer-green">
<div class="container">
<div class="row">
<div class="col copy-footer">
<p>Copyright &copy; 2021 movieList</p>
</div>
<div class="col">
<h6>COMPANY</h6>
<p><a class="link-footer" href="#">TEAM</a></p>
<p><a class="link-footer" href="#">NPM PACKAGES</a></p>
</div>
<div class="col">
<h6>KEEP CONNECTED</h6>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-google-plus"></i></a>
<a href="#"><i class="fa fa-twitch"></i></a>
</div>
</div>
</div>
</footer> -->
  <script>
    function myFunction() {
      var x = document.getElementById("review-list");
      if (x.style.display === "none") {
      x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
</body>
</html>
